page-home {

  .headerImg{
      height: auto;
      width: 10%;
  }

  .logo-login{
      height: 70px;
      margin-left: 9.2em;
      margin-top: 6em;
      width: 70px;
  }

  .btn-registro{
    margin: 0px;
  }
}
